// Navbar
#navbar {
  background: #333;
  color: white;
  // overflow: auto;

  h1 {
    float: left;
    padding-top: 20px;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;

      a {
        display: block;
        padding: 20px;
        text-align: center;

        &:hover,
        &.current {
          background: #444;
          color: #f7c08a;
        }
      }
    }
  }

  a {
    color: white;
  }
}

// Showcase
#showcase {
  background-image: url('../img/showcase.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;

  .showcase-content {
    color: #fff;
    text-align: center;
    padding-top: 170px;

    h1 {
      font-size: 60px;
      line-height: 1.2em;
    }

    p {
      padding-bottom: 20px;
      line-height: 1.7em;
    }
  }
}

// HomeInfo
#home-info {
  height: 400px;

  .info-img {
    float: left;
    width: 50%;
    min-height: 100%;
    background-image: url('../img/photo-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .info-content {
    float: right;
    width: 50%;
    min-height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
  }

}